<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <nlog configSource="NLog.config">
  </nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.11.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <appSettings>

	  <add key="DbUrl" value="B1B07620A3D17B4C1A695B90BB58F7FB2E83A939DA4FD8009CFED0C51CBD8717"/>
	  <add key="DbName" value="E93964A897F8620278BF874980AFDDC1"/>
	  <add key="DbUserName" value="D31EE9161F2A4A9D7296CD113215C9D2"/>
	  <add key="DbPassword" value="76F05CCEC932D86337200F01D14B2757213F4557527461D651FDEC3298BB9BFD"/>
 
    <add key="NettyPort" value="6860"/>
    <add key="PicPath" value="image\"/>
    <add key="PicPathTemp" value="image_temp/"/>
    <add key="DocPath" value="doc/"/>
    <add key="Debug" value="false"/>
    
    <add key="HeartBeatRate" value="20"/>
    <add key="userName" value=""/>
    <add key="password" value=""/>
    <add key="test" value="B05AF3CBE234F98AD500717069860312"/>

    <add key="isRemind" value="false"/>
	<add key="isRemindName" value="false"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>