<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="DbNameRealase" value="1156D943368FD83567E7FFCF9B46A77AD9B4C9867EE47FD7E012EC9080852321" />
    <add key="DbName" value="DF918690504A0C1CBBC83F182A429543D9B4C9867EE47FD7E012EC9080852321" />
    <add key="DbUrl" value="BA247E2B96DD0A98B228177267537AE12E83A939DA4FD8009CFED0C51CBD8717" />
    <add key="DbUserName" value="3FBD9F494EA891F2B895F1A641F5723F" />
    <add key="DbPassword" value="285E34C6D31DBECEAF82025F1B3833CF" />
    <!--扫描身高初始权重-->
    <add key="initWeight" value="15" />
  </appSettings>
</configuration>